body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  font-family: inherit;
  font-size: 1.5em;
}

.header {
  height: 20vh;
  margin-bottom: 10vh
}

#btn-find {
  cursor: pointer;
  margin-top: 50vh;
  transform: translateY(-50%);
  z-index: 1;
}

#map {
  margin: 0 auto;
  position: relative;
}

.main-container {
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  text-align: center;
}

#myLastPos, #myCurrentPos {
  display: none;
}

table {
  margin: 0 auto;
  max-width: 600px;
}

#map {
  height: 70vh;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

