body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  font-family: inherit;
  font-size: 1.5em;
}

.header {
  height: 20vh;
  margin-bottom: 10vh
}

h3 {
  margin-bottom: 0px;
}

.main-container {
  display: flex;
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  text-align: center;
}

// MAP STYLE
#map {
  height: 100vh;
  width: 75%;
}

#map-canvas {
  height: 100%;
  width: 100%;
}


// PANEL STYLE
.left-panel {
  height: 100vh;
  width: 25%;
}

#btn-find {
  cursor: pointer;
  margin-top: 50vh;
  transform: translateY(-50%);
  z-index: 1;
}

select {
  height: 40px;
  width: 60%;
}


#myLastPos, #myCurrentPos {
  display: none;
}

table {
  margin: 0 auto;
  max-width: 90%
}

